<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.lz.mapper.TaskMapper">
	<select id = "selectTaskTypeCountTop5" resultType = "com.lz.pojo.dto.TaskCountDTO">
		SELECT TaskType as taskTypeId, COUNT(*) AS typeCount
		FROM campus_entrustment.task,
			 delegation_categories d
		WHERE STATUS = 'ONGOING'
		   or STATUS = 'ACCEPTED'
		   or STATUS = 'EXPIRED'
			AND d.IsEnable = 1
			AND TaskType = d.category_id
		GROUP BY TaskType
		ORDER BY typeCount DESC
		LIMIT 5;
	</select>
	<select id = "selectTasksStats">
	</select>
	
	<!-- 定义查询语句 -->
	<select id = "getTasksTodayCount" resultType = "java.lang.Integer">
		SELECT COUNT(*)
		FROM Task
		WHERE
		<if test = "key != null and key != ''">
			STATUS = #{key} AND
		</if>
		DATE(StartTime) = CURDATE()
	</select>
	<select id = "getTasksWeeklyCount" resultType = "java.lang.Integer">
		SELECT COUNT(*)
		FROM Task
		WHERE
		<if test = "key != null and key != ''">
			STATUS = #{key} AND
		</if>
		YEARWEEK(StartTime, 1) = YEARWEEK(CURDATE(), 1);
	
	</select>
	<select id = "getTasksMonthlyCount" resultType = "java.lang.Integer">
		SELECT COUNT(*)
		FROM Task
		WHERE
		<if test = "key != null and key != ''">
			STATUS = #{key} AND
		</if>
		DATE_FORMAT(StartTime, '%Y-%m') = DATE_FORMAT(CURDATE(), '%Y-%m');
	
	</select>
	<select id = "getPublishedTotal" resultType = "java.lang.Long" parameterType = "java.lang.Long">
		SELECT COUNT(*)
		FROM Task
		WHERE (STATUS = 'ONGOING' or STATUS = 'ACCEPTED' or STATUS = 'EXPIRED' or STATUS = 'COMPLETED'
			or STATUS = 'INCOMPLETE' or STATUS = 'CANCELLED')
		  
		  and OwnerId = #{id}
	</select>
	<select id = "getAcceptedTotal" resultType = "java.lang.Long" parameterType = "java.lang.Long">
		SELECT COUNT(*)
		FROM Task
		WHERE STATUS = 'COMPLETED' and OwnerId = #{id}
	</select>
	<select id = "getOverdueTotal" resultType = "java.lang.Long" parameterType = "java.lang.Long">
		SELECT COUNT(*)
		FROM Task
		WHERE STATUS = 'EXPIRED' and OwnerId = #{id}
	</select>
	<select id = "getCanceledTotal" resultType = "java.lang.Long" parameterType = "java.lang.Long">
		SELECT COUNT(*)
		FROM Task
		WHERE STATUS = 'CANCELLED' and OwnerId = #{id}
	</select>


</mapper>